<div class='well' style='margin-top:20px;'>
    <h3>Notice for DNA@Home Users</h3>
    <p>DNA@Home is transitioning to a sub-project of <a href='../csg/'>Citizen Science Grid</a>. DNA@Home workunits will be sent out from the Citizen Science Grid project.  You can link your DNA@Home account to your account on Citizen Science Grid so it will continue to gain credit for completing DNA@Home workunits on Citizen Science Grid by visiting the <a href='../csg/link_accounts.php'>link accounts</a> webpage.</p>

    <p>You can visit the <a href='http://volunteer.cs.und.edu/dna/forum_index.php'>old forums</a> and the <a href='http://volunteer.cs.und.edu/dna/index_old.php'>old homepage</a> while the transition is in progress.</p>
</div> <!-- well -->

<div class='well' style='margin-top:20px;'>
    <h3>Contact Information</h3>
    <p>Please email any questions or suggestions to <a href='mailto:tdesell@cs.und.edu'>Travis Desell</a>, or feel free to post a message in our <a href='../csg/forum_index.php'>forums</a>.</p>

    DNA@Home is run by:
    <ul>
        <li>
        <a href='http://people.cs.und.edu/~tdesell/'>Travis Desell</a>, Assistant Professor of Computer Science, University of North Dakota
        </li>
        <li>
        <a href='http://www.med.und.edu/biochemistry/faculty-staff/archana-dhasarathy.cfm'>Archana Dhasarathy</a>, Assistant Professor of Basic Sciences, University of North Dakota
        </li>
        <li>
        <a href='http://www.med.und.edu/anatomy/contact/sergei-nechaev.cfm'>Sergei Nechaev</a>, Assistant Professor of Basic Sciences, University of North Dakota
        </li>
        <li>
        Kris Zarns, Graduate Research Assistant in Computer Science, University of North Dakota
        </li>
    </ul>

    With previous support from:
    <ul>
        <li>
        <a href='http://www.cs.rpi.edu/~magdon/'>Malik Magdon-Ismail</a>, Associate Professor of Computer Science
        </li>
        <li>
        <a href='http://www.rpi.edu/~newbel/'>Lee Newberg</a> Research Associate Professor of Computer Science, and New York State Wadsworth Center Research Scientist 
        </li>
        <li>
        <a href='http://www.cs.rpi.edu/~szymansk/index.php'>Boleslaw Szymanski</a>, Claire and Roland Schmitt Distinguished Professor of Computer Science 
        </li>
        <li>
        Lei Chen, Graduate Research Assistant in Computer Science, Rensselaer Polytechnic Institute
        </li>
    </ul>
</div>

<div class='well' style='margin-top:20px;'>
    <h3>Publications</h3>
    <p>
    All publications, talks and posters about DNA@Home can be viewed on the Citizen Science Grid's <a href='../csg/publications.php'>publications page</a>.
    </p>
</div>

<div class='well' style='margin-top:20px;'>
    <h3>Support</h3>
    <div class='row'>
        <div class='col-sm-3'>
            <a href='http://und.edu'><img class='img-responsive' src='./images/und_logo.png'></img></a>
        </div>
        <div class='col-sm-9'>
            <p>
            DNA@Home has been generously supported by a new faculty SEED grant from UND's Office of Research Development and Compliance, and a SEED Grant from UND's Medical School. The Citizen Science Grid volunteer computing server is hosted by UND's <a href='http://www.aero.und.edu/about/SCC.aspx'>Scientific Computing Center</a>.
            </p>
        </div>
    </div>

    <div class='row'>
        <div class='col-sm-3'>
            <a href='http://boinc.berkeley.edu/' style='display:block; margin-left:auto; margin-right:auto;'><img class='img-responsive' src='./images/pb_boinc.gif' alt='Powered by BOINC'></img></a>
        </div>
        <div class='col-sm-9'>
            <p>
            DNA@Home is in part powered by the <a href='http://boinc.berkeley.edu/'>Berkeley Open Infrastructure for Network Computing (BOINC)</a>.
            </p>
        </div>
    </div> <!-- row- -->
</div> <!-- well -->

