<table class='table table-striped table-bordered'>
    <thead>
        <th>id</th>
        <th>Name</th>
        <th>Number Walks</th>
        <th>Burn In</th>
        <th>Average Progress</th>
        <th>Samples/Walk</th>
        <th>Workunit Steps</th>
    </thead>
    <tbody>
        {{#row}}
            <tr {{#is_hidden}}class='inactive-search' hidden{{/is_hidden}}>
                <td>{{id}}</td>
                <td>{{^is_hidden}}<b>{{/is_hidden}}<a href='./progress.php?id={{id}}'>{{name}}</a>{{^is_hidden}}</b>{{/is_hidden}}</td>
                <td>{{number_walks}}</td>
                <td>{{burn_in}}</td>
                <td>{{avg_progress}}</td>
                <td>{{samples}}</td>
                <td>{{workunit_steps}}</td>
            </tr>
        {{/row}}
    </tbody>
</table>
